body {
    background: #283033;
}

.hero {
    text-align: center;
}

.pager-section {
    margin: 30px;
    background-color: #73a7b9;
    padding: 8px;
}

.pager-title {
    margin: 0px;
}

#pager-output { 
    background-color: #080808;
    color: white;
    height: 40px;
    font-size: 40px;
    margin: 10px;
    border-radius: 5px;
    

}

.phone-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #83adc4;
    margin: 30px;
    padding: 0px;
    
}

.phone-title {
    margin: 0;
    padding: 10px;
}

#phone-output {
    background: #4b5563;
    width: 248px;
    margin-bottom: 5px;
    color: white;
    font-size: 40px;
    padding: 0px;
    height: 40px;
    border-radius: 5px;

}

button {
    font-size: x-large;
    width: 80px;
    margin: 2px 0px 2px 0px;
    background-color: white;
    border-radius: 3px;
}

button:hover {
    background-color: #4b5563;
    color: white;
}

#reset-btn {
    width: 248px;
    background-color: #9f1239;
    margin-bottom: 5px;
}

#reset-btn:hover {
    background-color: #eb1a54;
}

#send-btn {
    width: 164px;
    background-color: #064e3b;
}

#send-btn:hover {
    background-color: #0b9a74;
}
